
<article class="main-card__text-content">
  <p class="main-card__ask">
    What’s your opinion on
  </p>

  <h1 class="main-card__title">Pope Francis?</h1>
  <br>
  <p class="main-card__paragraph">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </p>
  <br>
  <a href="https://en.wikipedia.org/wiki/Pope" target="_blank" class="main-card__link"> <span>W </span> <span>More information</span></a>
  <br>
  <br>
  <h2 class="main-card__ask-2">What’s Your Verdict?</h2>
</article>
<span class="main-card__buttons">
  <button><i class="material-icons" aria-hidden="true">thumb_up</i></button>
<button><i class="material-icons" aria-hidden="true">thumb_down</i></button>
</span>

